/* search bar */
.searchBar {
    display: flex;
    background-color: #1E1E1E;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .inputWrapper {
    display: flex;
    border: solid #2D2D30;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
  }
  
  .inputWrapper input {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    margin-left: 5px;
    border-radius: 15px;
    padding: 8px 8px;
    color: white;
    margin-right: 30px;
  }
  
  .searchIcon {
    color: white;
    font-size: 30px;
    margin-left: 10px;
  }
  
  input:focus {
    outline: none;
  }
  
/* loader */

.loaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader { 
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  /* table */

  table{
    margin: 25px 10px;
    width: calc(100% - 20px);
    border-collapse: collapse;
    table-layout: fixed;
 }

 thead{
   font-size: 15px;
   background-color: #1E1E1E; /*#252526 */
   border-radius: 10px;
   color: white;
 }

 th,td{
   padding: 10px 30px;
   line-height: 1.7;
   text-align: center;
 }

 td{
   font-size: 15px;
   color: white;
 }



/* pagination */

.paginationContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E1E1E;
  border-radius: 10px;
  margin: 10px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.paginationContainer li{
  list-style: none;
  padding-left: 20px;

}

.pageLink{
  text-decoration: none;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.pageLink:hover{
  border-radius: 50%;
  background-color: #555;
  transition: all 0.1s ease;
  padding: 12px;
}


.icon {
  display: inline-block;
  cursor: pointer;
  margin-left:20px;
  font-size: 20px; 
  color: #333;
}

.icon:hover{
  color: #555;
}